NODE_ENV="development"

APP_NAME="Nest Auth"
APP_URL="localhost"
APP_PORT=5000

DATABASE_URL=""

BCRYPT_SALT=12

COOKIE_SECRET="MclVNBkm6O/e0BHn/QARlCQqIGWheURIMM4zQe5X/BA="

SESSION_SECRET="CXm4xDttmLzE8BuRT/1cgsvFJSTs2UshZKeCPuuLVpI="
SESSION_NAME="sessionId"
SESSION_DOMAIN="localhost"
SESSION_MAX_AGE="30d"
SESSION_SECURE=false
SESSION_FOLDER="sessions:"

REDIS_USER="default"
REDIS_PASSWORD=""
REDIS_HOST=""
REDIS_PORT=1077

MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_SECURE=true
MAIL_USER=adresa_ta@gmail.com
MAIL_PASSWORD=
MAIL_FROM="Numele Tău <adresa_ta@gmail.com>"